html,
body,
#container {
  margin: 0;
  width: 80%;
  height: 80%;
}
#reset {
  padding: 4px 10px;
  background: #00a81f;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(38, 38, 38, 0.5);
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
